.button{
    font-size: 1.8rem;
    font-weight: 300;
    color: white;
    display: inline-block;
    border: none;
    background:#f9820c;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
    margin-bottom: $s-size;
}
.button:hover{
    box-shadow: 0 0 10px #011afa;
    // border: 1px solid #e61cf4
}

.button__logout{
    background: none;
}

.button__link{
    margin: $m-size;
    // margin-right: 500px;
    // width: 110px;
    height:42px;
}
.button__upload{
    color: black;
    background: none;
}

.button__sms{
    margin-right: $s-size;
    
    // margin-bottom: 0;
}

.button__remove{
    background: #f90c0c;
    float: right;
}