.text-input{
    border: 1px solid #cacccd;
    height:50px;
    padding: $s-size;
    font-size: 1.8rem;
    font-weight: 300;
}

.text-input__card{
    width: 100px;
}

.select{
    @extend .text-input;
    
}
.select__add{
    @extend .text-input;
    width: 226px;
    
}
.textarea{
    @extend .text-input;
    width: 226px;
}

.text{
    margin-right: $s-size;
    // display: flex;
    // flex-direction: column;
    // margin-bottom : $s-size;
    // @media(min-width: $desktop-breakpoint){
    //     flex-direction: row;
    //     margin-bottom: $s-size;
    // }
}