.text-input{
    border: 1px solid #cacccd;
    height:58px;
    width: 255px;
    padding: $s-size;
    font-size: 1.5rem;
    font-weight: 300;
    border-radius: 18px;
}
.text-input:focus{
    outline: none;  
    box-shadow: 0 0 5px #e61cf4;
    border: 1px solid #e61cf4
}

.text-input__filters{
    width: 230px;
    height: 50px;
}

.text-input__filters__dot{
    width: 110px;
    height: 50px;
}

.text-input__card{
    width: 100px;
}

.text-input__date{
    width: 50px;
}

.text-input__advancemonth{
    width: 120px;
    // margin-left: 46px;
    margin-right:20px;
}
.text-input__advanceyear{
    width: 120px;
}
.paidtill{
    margin-left: 46px;
}
.text-input__email{
    padding: 0;
    vertical-align: middle;
    font-size: 15px;

}

.select{
    @extend .text-input;
    
}
.select__filter{
    height: 50px;
    width: 230px;
}
.select__add{
    @extend .text-input;
    width: 250px;
    margin-right: $s-size;
    
}
.textarea{
    @extend .text-input;
    width: 250px;
}
.textarea__notes{
    @extend .text-input;
    width: auto;
    height: 60px;
    margin-bottom: $s-size;
    @media(min-width: $desktop-breakpoint){
        width: 400px;
        height: 60px;
        margin-bottom: $s-size;
        }
}

.text{
    margin-right: $s-size;
    // display: flex;
    // flex-direction: column;
    // margin-bottom : $s-size;
    // @media(min-width: $desktop-breakpoint){
    //     flex-direction: row;
    //     margin-bottom: $s-size;
    // }
}