.text-input{
    border: 1px solid #cacccd;
    height:50px;
    width: 230px;
    padding: $s-size;
    font-size: 1.2rem;
    font-weight: 300;
}

.text-input__card{
    width: 100px;
}

.select{
    @extend .text-input;
    
}
.select__add{
    @extend .text-input;
    width: 230px;
    margin-right: $s-size;
    
}
.textarea{
    @extend .text-input;
    width: 230px;
}
.textarea__notes{
    @extend .text-input;
    width: auto;
    height: 105px;
    margin-bottom: $s-size;
    @media(min-width: $desktop-breakpoint){
        width: 868px;
        height: 105px;
        margin-bottom: $s-size;
        }
}

.text{
    margin-right: $s-size;
    // display: flex;
    // flex-direction: column;
    // margin-bottom : $s-size;
    // @media(min-width: $desktop-breakpoint){
    //     flex-direction: row;
    //     margin-bottom: $s-size;
    // }
}