.list-header{
    background: #f7f7f7;
    border:1px solid darken(#f7f7f7,10%);
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: $s-size $l-size;

}

.list-item{
    border:1px solid darken(#f7f7f7,10%);
    border-top: none;
    color: $dark-grey;
    display: flex;
    flex-direction: column;
    padding: $s-size;
    text-decoration: none;
    transition: background .3s ease;
    &:hover{
        background: #f7f7f7;
    }
    @media(min-width: $desktop-breakpoint){
        align-items: center; 
        flex-direction: row;
        justify-content: space-between;
        padding: $m-size;
    }
}

.list-item__title{
    margin: 0;
    word-break: break-all;

}
.list-item__email{
    word-break: break-all;
}