html {
  font-size: 62.5%;
}

*{
  box-sizing: border-box;
}

body {
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}


.form_head{
  // text-align: center;
  margin: 30px 0 0 0px;
}

.user{
  display: flex;
  flex-direction: column;
}

.form{
  // border: 1px solid black;
  // margin: 0 0 0 15px;
   padding: $m-size 0;
display: flex;
flex-direction: column;
justify-content: space-between;
margin-bottom: $s-size;
@media(min-width: $desktop-breakpoint){
      flex-direction: row;
      margin-bottom: $s-size;
  }
}

table{
  border-collapse: collapse;
}
table, td{
  border: 1px solid black;;
}
